<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <!--<link rel="icon" href="/favicon.ico" type="image/x-icon"/>-->
    <title>释惑--首页</title>
    <link rel="stylesheet" href="../static/css/index.css" type="text/css"/>
    <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script src="../static/js/index.js" type="text/javascript"></script>
</head>
<body>
<header class="topbar">
    <nav>
        <ul class="clear">
            <li class="first"><a href="#"><img src="../static/images/logo.png" height="32" width="40"/></a></li>
            <li class="search">
                <form class="search_form">
                    <input class="search_input" name="search" type="search" placeholder="搜索你感兴趣的内容..."/>
                </form>
            </li>
            <li><a href="/">首页</a></li>
            <li><a href="#">发现</a></li>
            <li><a href="/editTopic.html" target="_blank">话题</a></li>
            <li><!--/*@thymesVar id="user" type="templates"*/-->
            <a href="askQuestion.html" target="_blank">提问</a></li>
            <li>
                <span class="Darrow"></span>
                <a href="#">消息</a>
                <dl>
                    <dt><span class="arrow"></span></dt>
                    <dd><a href="#">通知</a></dd>
                    <dd><a href="#">关注</a></dd>
                    <dd><a href="#">赞同或回答</a></dd>
                </dl>
            </li>
            <li class="user">
                <span class="Darrow"></span>
                <!--/*@thymesVar id="user" type="templates"*/-->
                <a th:href="'/people/'+${user.nickname}" target="_blank">
                    <img th:src="${user.avatar}" width="40" height="32"/>
                </a>
                <dl>
                    <dt><span class="arrow"></span></dt>
                    <dd><a th:href="'/people/'+${user.nickname}" target="_blank">我的主页</a></dd>
                    <dd><a href="#">私信</a></dd>
                    <dd><a href="#">设置</a></dd>
                    <dd><a href="/logout">退出</a></dd>
                </dl>
            </li>
        </ul>
    </nav>
</header>
<div style="height: 40px"></div>
<iframe class="cardFrame" src="questionListItem.html?number=0" scrolling="no"/>
<iframe class="cardFrame" src="questionListItem.html?number=1" scrolling="no"/>
</body>
</html>