<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <!--<link rel="icon" href="/favicon.ico" type="image/x-icon"/>-->
    <title>释惑--登录</title>
    <link rel="stylesheet" href="../static/css/home.css" type="text/css"/>
</head>
<body>
<header class="topbar">
    <nav>
        <ul class="clear">
            <li class="first"><a href="#"><img src="../static/images/logo.png" height="32" width="40"/></a></li>
            <li class="search">
                <form class="search_form">
                    <input class="search_input" placeholder="搜索你感兴趣的内容..."/>
                </form>
            </li>
            <li><a href="#">首页</a></li>
            <li><a href="#">发现</a></li>
            <li><a href="#">话题</a></li>
            <li><a href="#">提问</a></li>
            <li>
                <span class="Darrow"></span>
                <a href="#">消息</a>
                <dl>
                    <dt><span class="arrow"></span></dt>
                    <dd><a href="#">通知</a></dd>
                    <dd><a href="#">关注</a></dd>
                    <dd><a href="#">赞同或回答</a></dd>
                </dl>
            </li>
            <li class="user">
                <span class="Darrow"></span>
                <a href="#">
                    <img src="../static/images/logo.png" width="40" height="32"/>
                </a>
                <dl>
                    <dt><span class="arrow"></span></dt>
                    <dd><a href="#">我的主页</a></dd>
                    <dd><a href="#">私信</a></dd>
                    <dd><a href="#">设置</a></dd>
                    <dd><a href="#">退出</a></dd>
                </dl>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>